<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/tailwind.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <a class="w-full text-lg absolute text-right p-3"href="/">Home</a>
        <h2 class="text-3xl p-3 ">Leaderboard</h2>
        <div class="p-3 relative h-screen w-screen flex justify-center">
            <table class="h-min w-3/4 text-sm text-left text-gray-500 ">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Quote
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Votes
                        </th>
                    </tr>
                </thead>
                <tbody>
                        
                    <% quotes.forEach((quote) => { %>
                        <tr class="bg-white border-b">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                <%= quote.quote %>
                            </th>
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                <%= quote.count %>
                            </th>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

    </body>
</html>
